body{
    background-color: #03121a;
}

#header{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #292929;
    margin: 0;
    margin-block-end: 0;
    padding: 2em;
    margin-block-start: 0;
    display: block;
    color: #00BFFF;
}

/* div[class="nav-wrapper"] i[class="brand-logo"]{
    color: ;
} */

.red-button{
    background-color: #FF4500;
}

.red-button:hover{
    background-color: #c93804;
}

#search-input{
    color: #e2e2e2;
}

.search-panel{
    padding: 1em;
    background-color: #292929;
}
.search-panel form{
    position: relative;
}

#search-label{
    color: #e2e2e2;
}

.search-panel button{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #c0c0c0;
}

.search-panel button:active{
    background-color: #0000003e;
}