body{
    background-color: #E1F5FE;
}

#header{
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #26A69A;
    margin: 0;
    margin-block-end: 0;
    padding: 2em;
    margin-block-start: 0;
    display: block;
    color: #00B0FF;
}

div[class="nav-wrapper"] i[class="brand-logo"]{
    color: #EEFF41;
}