body{
    background-color: #03121a;
}

header{
    background-color: #00796B;
    text-align: center;
    font-size: xx-large;
    padding: 2em;
    color: #8C9EFF;
}

.red-button{
    background-color: #FF4500;
}

.red-button:hover{
    background-color: #c93804;
}