body{
    background-color: #03121a;
}

header{
    background-color: #292929;
    /* #00796B */
    text-align: center;
    font-size: xx-large;
    padding: 2em;
    color: #00BFFF;
}

.red-button{
    background-color: #FF4500;
}

.red-button:hover{
    background-color: #c93804;
}

figure.items{
    display: inline-flex;
    border-radius: 10px;
    padding: 5px;
}

figure.items:hover{
    background-color: #FF4500;
}

.garantee-img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.item-caption{
    font-size: x-large;
    text-align: center;
    background-color: #292929;
    border-radius: 7px;
}

.about-items{
    margin-left: 1em;
}

ol.list1{
    font-size: x-large;
    color: #00BFFF;
}