body{
    background-color: #E1F5FE;
}

div[id="items-library"] figure{
    display: inline-block;
}

div[id="items-library"] figure:hover{
    background-color: #00E5FF;
}

div[id="items-library"] figure fieldset img{
    max-width: 200px;
    max-height: 400px;
    height: 250px;
    display: block;
}

nav[id="navbar1"] div ul i{
    margin: 20px;
}