body{
    background-color: #232331;
    font-family: 'Roboto', sans-serif;
}


label{
    font-size: x-large;
}

/* #for-example{
    text-align: center;
    margin: 1em;
    height: 14em;
    padding: 4em;
    font-size: x-large;
    border-radius: 7px;
} */

.login-form2{
    text-align: center;
}

h1{
    text-align: center;
    margin: 1em;
    margin-top: auto;
    height: 2em;
    color: #00BFFF;
    padding: 1em;
}

.login-form1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

input{
    font-size: x-large;
    border-radius: 7px;
}

#front-w1{
    text-align: center;
    background-color: #464646;
    margin-top: auto;
    padding: 3em;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#front-w1 h5{
    color:#ff7b3a;

}

.material-icons{
    color: #FF4500;
}

.link{
    font-size: xx-large;
    color: #bce8ff;
    text-decoration: none !important;
}

.button1{
    color: #fff;
    background-color: #00619a;
    border: none;
    width: 100%;
    display: block;
    margin: 1em auto 0;
    text-align: center;
    font-weight: bold;
    border-radius: 14px;
    font-size: 1.5em;
    outline: none;
    padding: 0.5em 0;
    cursor: pointer;
}

.button1:active{
    background-color: #003a5c;
}
.button1:hover{
    background-color: #003a5c;
}
.button1:focus{
    background-color: #003a5c;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#captchaBackground {
    height: 220px;
    width: 250px;
    background-color: #2d3748;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaHeading {
    color: white;
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#refreshButton {
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}

#textBox {
    height: 25px;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}
