body{
    background-color: #03121a;
}

#headerform{
    text-align: center;
}

#linkcreate-form{
    background: linear-gradient(to left, #0196db, #051721);
    padding: 2em 5em;
    border-radius: 7px;
    text-align: center;
    margin-top: 9em;
}

input{
    font-size: large;
    border-radius: 5px;
}

label{
    font-size: x-large;
    margin: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: #47b097;
}

div[id="headerform"] form[id="linkcreate-form"] button{
    padding: 0.5em 1em;
    background: linear-gradient(to right, #03121a, #03A9F4);
    border-radius: 7px;
    border: linear-gradient(to right, #03121a, #03A9F4);
    transition-duration: 0.5s;
    font-size: large;
}

div[id="headerform"] form[id="linkcreate-form"] button:hover{
    background-color: black;
    color: #64FFDA;
}