body{
    background-color: #03121a;
}

#headerform{
    text-align: center;
}

#linkcreate-form{
    background-color: #FF4500;
    padding: 2em 5em;
    border: groove;
    text-align: center;
    margin-top: 10em;
    display: inline-block;
}

input{
    font-size: x-large;
    border-radius: 5px;
}

label{
    font-size: x-large;
}

div[id="headerform"] form[id="linkcreate-form"] button{
    padding: 10px 20px;
    background-color: #03A9F4;
    transition-duration: 0.4s;
    font-size: large;
}

div[id="headerform"] form[id="linkcreate-form"] button:hover{
    background-color: black;
    color: #64FFDA;
}