    body{
        background-color: #E1F5FE;
    }
    
    h1{
        text-align: center;
        margin: 1em;
        margin-top: auto;
        height: 2em;
        color: #263238;
        padding: 1em;
    }

    .login-form1{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xx-large;
    }

    input{
        font-size: xx-large;
        border-radius: 7px;
    }

    #front-w1{
        text-align: center;
        background-color: #1DE9B6;
        margin: 20em;
        margin-top: auto;
        padding: 3em;
        border-radius: 10px;
    }

    .link{
        font-size: xx-large;
        color: #006064;
        text-decoration: none !important;
    }

    .button1{
        color: #fff;
        background-color: #00B0FF;
        box-shadow: 0 4px #00B0FF;
        border-color: #00E5FF;
        width: 100%;
        display: block;
        margin: 1em auto 0;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        font-weight: bold;
        border-radius: 14px;
        padding-top: 0.8571428571rem;
        padding-left: 1.7142857143rem;
        padding-bottom: 0.9285714286rem;
        padding-right: 1.7142857143rem;
        font-size: 1em;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        outline: none;
        position: relative;
    }