    body{
        background-color: #03121a;
    }
    
    h1{
        text-align: center;
        margin: 1em;
        margin-top: auto;
        height: 2em;
        color: #00BFFF;
        padding: 1em;
    }

    .login-form1{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xx-large;
    }

    input{
        font-size: xx-large;
        border-radius: 7px;
    }

    #front-w1{
        text-align: center;
        background-color: #464646;
        margin: 20em;
        margin-top: auto;
        padding: 3em;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    #front-w1 h5{
        color:#ff7b3a;

    }

    .material-icons{
        color: #FF4500;
    }

    .link{
        font-size: xx-large;
        color: #bce8ff;
        text-decoration: none !important;
    }

    .button1{
        color: #fff;
        background-color: #00619a;
        border: none;
        width: 100%;
        display: block;
        margin: 1em auto 0;
        text-align: center;
        font-weight: bold;
        border-radius: 14px;
        font-size: 1.5em;
        outline: none;
        padding: 0.5em 0;
        cursor: pointer;
    }

    .button1:active{
        background-color: #003a5c;
    }
    .button1:hover{
        background-color: #003a5c;
    }
    .button1:focus{
        background-color: #003a5c;
    }