body{
    background-color: #03121a;
}

figure{
    text-align: center;
}

#whatsapplogo{
    height: 200px;
    margin: 1em;
}

#telegramlogo{
    height: 185px;
    margin: 1em;
}

#facebooklogo{
    height: 200px;
    margin: 1em;
}

article a{
    display: inline-block;
    margin: 2em;
    padding: 2em;
    text-decoration: none !important;
}

article a:hover{
    background-color: #c93804;
}

figcaption{
    color: #78909C;
    font-size: xx-large;
    border-radius: 7px;
}