body{
    background-color: #03121a;
    box-sizing: border-box;
}

.products-box{
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
}

a.item-box{
    padding: 0;
    border-radius: 7px;
    transition-duration: 0.5s;
}

a.item-box:hover{
    background-color: rgb(168, 208, 243);
    transform: translateY(-5px);
}

img.item-img{
    min-width: 5em;
    min-height: 7em;
    max-width: 8em;
    min-height: 9em;
}

figure{
    padding: 0;
}

figcaption{
    font-family: monospace;
}

span.link {
    font-family: cursive;
}