body{
    background-color: #03121a;
}

figure{
    display: inline-block;
}

figure:hover{
    background-color: #00E5FF;
}

.red-button{
    background-color: #FF4500;
  }
  .red-button:hover{
    background-color: #c93804;
  }

figure img{
    width: 200px;
}

figcaption{
    text-align: center;
    font-size: large;
    color: black;
}