

body::after{
    content: '';
    position: fixed;
    background-image: url(./steam-files/Rayman-legends-background.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}

.trailer{
    height: 300px;
    width: 580px;
    border-radius: 10px;

}

.img-trail{
    width: 200px;
    height: 200px;
}

video{
    border-radius: 10px;
    background-color: rgb(11, 10, 10);
}

.trailer-panel{
    margin: 3em;
    background-color: #263238;
    padding: 100px 100px;
    border-radius: 10px;
}

.game-amount{
    background-color: #263238;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    border-radius: 10px;
}

.game-amount figure{
    background-color: #001a2e;
    padding: 1em;
    border-radius: 7px;
}

.trailer-library{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

.game-amount figure span{
    font-size: xx-large;
    display: inline-flex;
    color: #78909C;
}

.link-buy{
    font-size: x-large;
    background-color: #00695C;
    border-radius: 7px;
    display: inline-flex;
    padding: 5px 10px;
    color: #bce8ff;
    text-decoration: none !important;
}

.law-items{
    text-align: left;
}

li.waves-effect{
    display: inline-flex;
}

.laws{
    background-color: #263238;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: x-large;
    color: #78909C;
    padding: 2em;
    text-align: end;
}

.game-info{
    background-color: #263238;
    border-radius: 10px;
    margin-left: 2em;
    margin-right: 2em;
}

.game-info-items{
    font-size: x-large;
    padding: 20px 0px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
    color: #78909C;
}